/*https://getbootstrap.com/docs/5.3/components/buttons/#variables*/
:root, [data-bs-theme=light] {
    --primary-color: #884b6a;
    --primary-color-rgb: 136, 75, 106;
    --bg-color: #fff8f8;
    --bg-pimary-container: #ffd8e8;
    --bg-primary-text: #380725;

    --btn-border-color: var(--primary-color);
    --btn-hover-bg: #521d3b;
    --btn-hover-border-color: var(--btn-hover-bg);
    --btn-focus-shadow-rgb: var(--primary-color-rgb);
    --btn-active-bg: #6d3352;
    --btn-active-border-color: rgba(109, 51, 82, 0.5);

    --link-color-rgb: 164, 99, 131;
    --link-hover-color-rgb: 136, 75, 106;
}

body {
    background-color: var(--bg-color);
}

.btn.btn-primary {
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--btn-border-color);
    --bs-btn-hover-bg: var(--btn-hover-bg);
    --bs-btn-hover-border-color: var(--btn-hover-border-color);
    --bs-btn-focus-shadow-rgb: var(--btn-focus-shadow-rgb);
    --bs-btn-active-bg: var(--btn-active-bg);
    --bs-btn-active-border-color: var(--btn-active-bg);
}

a {
    --bs-link-color-rgb: var(--link-color-rgb);
}

a:hover {
    --bs-link-color-rgb: var(--link-hover-color-rgb);
}

.form-control:focus {
    border-color: var(--btn-hover-border-color);
    box-shadow: 0 0 0 .25rem rgba(var(--btn-focus-shadow-rgb), .25);
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-check-input:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--btn-focus-shadow-rgb), .25);
}

.text-primary {
    color: var(--primary-color) !important;
}

footer, nav.navbar {
    background-color: var(--bg-pimary-container);
    color: var(--bg-primary-text);
}